// Variables
$black: #000000;      // 1
$blue: #0d6efd;       // 2
$light-red: #fff;     // 3
$relative: relative;    // 4
$none: none;            // 5
$auto: auto;            // 6
$block: block;          // 7
$solid: solid;          // 8
$inline: inline-block;  // 9
$upper: uppercase;      // 10

$list-name: "column";
$num-columns: 12;

/* These are the beginning semantic elements */
body {
  background: #202020 url('/images/footer-bg.jpg') repeat;
  min-width: 1200px;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
select {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 11pt;
  line-height: 1.75em;
}

// imports
@import "nav";

// mixins
@mixin make-sub($top) {
  position: $relative;
  top: $top;
  font-size: 0.8em;  
}

@mixin make-page() {
  position: $relative;
  background: $light-red;
}

@mixin make-main() {
  border-top: 1px $solid;
  border-color: rgba(0, 0, 0, .2);
}

@mixin make-column($width) {
    .#{$list-name}-#{$width} { width: (100% / $num-columns) * $width};
}

// These are the heading elements
h1,
h2,
h3 {
  letter-spacing: 1px;
  text-transform: $upper;
  font-weight: 300;
  h1 a,
  h2 a,
  h3 a {
    color: inherit;
    text-decoration: $none;
  }
}

/* These are formatting elements */
strong {
  font-weight: bold;
  color: $black;
}

em,
i {
  font-style: italic;
}

a {
  color: $blue;
}

sub {
  @include make-sub(0.5em);
}

sup {
  @include make-sub(-0.5em);
}

// This is for a horizontal rule line
hr {
  border: 0;
  border-top: $solid 1px #ddd;
}

p,
ul,
ol,
dl,
table {
  margin-bottom: 1em;
}

/* This is for the header section
   This also includes the h2 and byline subclasses */
header {
  margin-bottom: 2em;
  line-height: 1.7em;
  h2 {
    font-size: 2.5em;
  }
  .byline {
    display: $block;
    margin: 0.5em 0 0 0;
    padding: 0 0 0.5em 0;
    text-transform: $upper;
    font-size: 1.4em;
  }
}

/* These definitions are for the section and article elements
   They also include the last-child defs for section and article */
section,
article {
  margin-bottom: 3em;
  section > :last-child,
  article > :last-child {
    margin-bottom: 0;
  }
  section:last-child,
  article:last-child {
    margin-bottom: 0;
  }
}

// This is the blockquote element
blockquote {
  margin: 0;
  padding: 0;
  border: $none;
  font-style: normal;
}

// This is for the footer element
footer {
  margin-top: 1em;
}

/* This definition if for the container class.  It also holds 
   The child classes of big and small */
.container {
  width: 1200px;
  margin-left: $auto;
  margin-right: $auto;
  .small {
    width: 900px;
  }
  
  .big {
    width: 100%;
    max-width: 1500px;
    min-width: 1200px;
  }
}

.row {
  margin-left: -50px;
  &::after {
    content: '';
    display: $block;
    clear: both;
    height: 0;
  }
  & [class*='column-'] {
    padding: 50px 0 0 50px;
    float: left;
    box-sizing: border-box;
  }
  section,
  article {
    margin-bottom: 0;
  }
}

// These are for the initialization of the column classes
.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
  width: 100%;
}

@media all and (min-width: 576px) {

  @for $i from 1 through $num-columns {
    @include make-column($i);
  }

}

.image {
  display: $inline;
  img {
    display: $block;
    width: 100%;
  }
  .featured {
    display: $block;
    width: 100%;
    margin: 0 0 2em 0;
  }
  
  .full {
    display: $block;
    width: 100%;
    margin-bottom: 2em;
  }
  
  .left {
    float: left;
    margin: 0 2em 2em 0;
  }
  
  .centered {
    display: $block;
    margin: 0 0 2em 0;
    img {
      margin: 0 $auto;
      width: $auto;
    }
  }
}

ul.default {
  margin: 0;
  padding: 0;
  list-style: $none;
  li {
    display: $block;
    padding: 2em 0em 1.25em 0em;
    border-top: 1px $solid #303030;
    &:first-child {
      padding-top: 0em;
      border-top: $none;
    }
  }
  a {
    text-decoration: $none;
    color: rgba(255, 255, 255, .5);
    &:hover {
      text-decoration: underline;
    }
  }
}

ul.style1 {
  margin: 0;
  padding: 0;
  list-style: $none;
  li {
    padding: 0.60em 0em;
    border-top: 1px $solid;
    border-color: rgba(0, 0, 0, .1);
    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
}

ul.style2 {
  margin: 0;
  padding: 0;
  list-style: $none;
  li {
    padding: 1.90em 0em 1.60em 0em;
    border-top: 1px $solid;
    border-color: rgba(0, 0, 0, .1);
    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
  img {
    float: left;
    padding-right: 1em;
  }
}

ul.style5 {
  overflow: hidden;
  margin: 0em 0em 1em 0em;
  padding: 0em;
  list-style: $none;
  li {
    float: left;
    padding: 0.25em 0.25em;
    line-height: 0;
  }
}


.button {
  position: $relative;
  display: $inline;
  margin-top: 0.5em;
  padding: 0.50em 1.5em;
  background: $blue;
  border-radius: 6px;
  text-decoration: $none;
  text-transform: $upper;
  font-size: 1.1em;
  color: $light-red;
  transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
  cursor: pointer;
  &:hover {
    background: $blue;
    color: $light-red !important;
  }
}

.header {
  position: $relative;
  background: $light-red;
  .container {
    position: $relative;
    padding: 4em 0em;
  }
}

.logo {
  position: absolute;
  left: 0em;
  top: 3em;
  a {
    display: $block;
    text-decoration: $none;
    font-size: 2.8em;
    font-weight: 600;
  }
}


.banner {
  position: $relative;
  padding: 12em 0em;
  background: url('/images/banner.jpg') no-repeat center;
  background-size: cover;
  color: $light-red;
}

.page {
  @include make-page();
}

.main {
  @include make-main();
}

.sidebar header h2 {
  font-size: 1.6em;
}

.footer {
  position: $relative;
  color: rgba(255, 255, 255, .4);
  h2 {
    padding-bottom: 1.5em;
    font-size: 1.6em;
    color: $light-red;
  }
  strong {
    color: rgba(255, 255, 255, .7);
  }
}

.copyright {
  position: $relative;
  padding: 3em 0em;
  border-top: 1px $solid #303030;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(255, 255, 255, .4);
  a {
    text-decoration: $none;
    color: rgba(255, 255, 255, .4) !important;
  }
}

.marketing {
  position: $relative;
  header h2 {
    font-size: 1.6em;
  }
}

.featured {
  position: $relative;
  .divider {
    border-bottom: 1px $solid #303030;
  }
  .box {
    background: $light-red;
    padding: 1.4em;
    font-size: 0.95em;
    border-radius: 5px;
  }
}

.balloon {
  padding: 1.87em;
  background: url('/images/balloon-bg.jpg') repeat left top;
  border-radius: 5px;
  line-height: 180%;
  font-size: 1.2em;
  color: #333;
  strong {
    color: #333 !important;
  }
}

.ballon-bgbtm {
  height: 1.87em;
}

